<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../style/consume.css" type="text/css">
    <script type="text/javascript" src="../javascript/DatePicker.js"></script>
</head>
<body>

    <div>
        <form action="form_action.asp" method="get">
            <p>消费人: <input type="text" id="name" name="name" /></p>
            <p>消费商品: <input type="text" id="goods" name="goods" /></p>
            <p>消费金额: <input type="text" id="money" name="money" /></p>
            <p>消费金额:  <input type="text" id="createtime" style="width:70px" onfocus="HS_setDate(this)"></p>
            <input type="submit" value="Submit" />
        </form>
    </div>

</body>
</html>